.doc {
    width: 100%;
    display: flex;
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }
    &__item {
        border-radius: 4px; 
        background-color: #fff;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        padding: 20px 30px;
        width: calc(50% - 15px);
        @media screen and (max-width: 675px) {
            width: 100%;
        }
        @media screen and (max-width: 1400px) {
            width: 100%;
        }
        @media screen and (max-width: 1000px) {
         padding: 10px;
         display: flex;
         justify-content: space-between;
         align-items: center;   
        }
    }
    &__features{
        svg {
            fill: #3b3b3b;
            opacity: 0.5;
        }
        
        a {
            display: block;
        }
        display: flex;
        justify-content: space-between;
    }
    
}